/* code highlighting */
/* Mixins */
/* Base */
html {
  font-size: 62.5%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Comfortaa", cursive;
  line-height: 1.5;
  font-weight: 300;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #e2e2e2; }

a {
  text-decoration: none;
  color: #3498db; }

ul {
  padding: 0; }

code {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: small; }
  code span {
    font-size: 0.585rem; }

.container {
  width: 70%;
  display: block;
  margin: 0 auto 0 auto; }

.site-header {
  padding-bottom: 10px; }

.site-title {
  display: block;
  margin: 0 auto 0 auto;
  font-size: 60px;
  font-size: 6rem;
  font-weight: bold;
  width: 23%; }
  .site-title a {
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    color: black; }
    .site-title a:hover {
      color: #3498db; }

.nav ul {
  display: block;
  list-style-type: none;
  float: center;
  text-align: center; }
  .nav ul li {
    display: inline-block; }
    .nav ul li .page-link {
      color: black; }
      .nav ul li .page-link:hover span {
        color: #3498db; }
@media(max-width: 600px) {
  .nav ul li {
    padding: 0px 15px 0px 15px;
    padding: 0rem 1.5rem 0rem 1.5rem; }
    .nav ul li .text {
      display: none; }
    .nav ul li .octicon {
      display: inherit;
      font-size: 22px;
      font-size: 2.2rem; } }
@media(min-width: 600px) {
  .nav ul li {
    padding: 0px 30px 0px 30px;
    padding: 0rem 3rem 0rem 3rem; }
    .nav ul li .text {
      display: inherit; }
    .nav ul li .octicon {
      display: none; } }
/* Home */
.posts {
  list-style-type: none; }
  .posts .excerpt {
    width: 95%;
    display: block;
    margin: 0 auto 0 auto; }

@media(max-width: 600px) {
  .large {
    visibility: hidden;
    height: 0; }

  .small {
    visibility: visible;
    height: inherit; } }
@media(min-width: 600px) {
  .large {
    visibility: visible;
    height: inherit; }

  .small {
    visibility: hidden;
    height: 0; } }
/* Pages */
.post-content ul, .post-content ol {
  padding-left: 40px;
  padding-left: 4rem; }

/* Site footer */
.site-footer {
  border-top: 0.1rem solid #c9c9c9;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  width: 100%;
  display: block;
  margin: 0 auto 0 auto; }
  .site-footer ul {
    list-style: none; }
@media(max-width: 600px) {
  .site-footer ul {
    display: inline; } }
@media(min-width: 600px) {
  .site-footer ul {
    display: -webkit-inline-box; } }
@media(max-width: 600px) {
  .site-footer ul li {
    display: inline-block;
    padding: 0.4rem; }
    .site-footer ul li .text {
      display: none; } }
@media(min-width: 600px) {
  .site-footer ul li {
    margin: 0px 30px 0px 30px;
    margin: 0rem 3rem 0rem 3rem; }
    .site-footer ul li .text {
      display: inherit; } }
  .site-footer li,
  .site-footer a,
  .site-footer p {
    font-size: 1.5rem;
    letter-spacing: 0;
    color: #828282; }

span {
  color: #828282; }

p {
  margin-top: 0; }
