---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { marked } from "marked";

import aboutContent from "../../content/pages/about.md?raw";
const aboutHtml = marked.parse(aboutContent);
---

<BaseLayout title="About" canonicalPath="/about/">
  <div class="post">
    <header class="post-header">
      <h2>About</h2>
    </header>

    <article class="post-content" set:html={aboutHtml}></article>
  </div>
</BaseLayout>
