<footer class="site-footer">
  <div class="pull-right">
    <p>{{ site.description }}</p>
  </div>
  <div class="footer-col">
    <ul>
      {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="octicon octicon-mark-github"></span>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
      {% endif %}
      {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon twitter"></span>
            <span class="username">@{{ site.twitter_username }}</span>
          </a>
        </li>
      {% endif %}
      <li>
        <a href="mailto:{{ site.email }}">
          <span class="octicon octicon-mail"></span>
          <span class="email">{{ site.email }}</span>
        </a>
      </li>
      <li>
        <p>Copyright &copy; {{ site.time | date: "%Y" }} Akonwi Ngoh</p>
      </li>
    </ul>
  </div>
</footer>
