<footer class="site-footer">
  <ul>
    <li>
      {{ site.description }}
    </li>
    {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="octicon octicon-mention"></span>
          <span class="twitter text">{{ site.twitter_username }}</span>
        </a>
      </li>
    {% endif %}
    <li>
      <a href="mailto:{{ site.email }}">
        <span class="octicon octicon-mail"></span>
        <span class="email text">{{ site.email }}</span>
      </a>
    </li>
    <li>
      <p>Made with <span class="octicon octicon-heart"></span> thanks to Github</p>
    </li>
  </ul>
</footer>
