$blue: #41a2b7;
$light-blue: #62b6c9;
$lighter-blue: #87c8d7;
$grey: #e2e2e2;
$dark-grey: #c9c9c9;
$footer-grey: #828282;

/* code highlighting */
$purple: darken(#b48ead, 10%);
$orange: darken(#d08770, 10%);
