---
import { site } from "../site";
---

<footer class="site-footer">
  <p class="footer-description">{site.description}</p>
  <ul class="footer-links">
    <li>
      <a href="/feed.xml">
        <span>RSS</span>
      </a>
    </li>
    {site.twitterUsername && (
      <li>
        <a href={`https://twitter.com/${site.twitterUsername}`}>
          <span>Twitter</span>
        </a>
      </li>
    )}
  </ul>
</footer>
