---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { marked } from "marked";

import projectsContent from "../../content/pages/projects.md?raw";
const projectsHtml = marked.parse(projectsContent);
---

<BaseLayout title="Projects" canonicalPath="/projects/">
  <div class="post">
    <header class="post-header">
      <h2>Projects</h2>
    </header>

    <article class="post-content" set:html={projectsHtml}></article>
  </div>
</BaseLayout>
